<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteka</title>
    <link rel="stylesheet" th:href="@{../../static/css.css}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../../static/Rich-Text-Editor-jQuery-RichText/src/richtext.min.css}">
    <script th:src="@{../../static/Rich-Text-Editor-jQuery-RichText/src/jquery.richtext.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <header class="header">
                <nav class="navbar">
                    <ul class="nav-menu">
                        <li class="nav-li" sec:authorize="!isAuthenticated()">
                            <a class="nav-item" href="/register">Rejestracja</a>
                        </li>
                        <li class="nav-li" sec:authorize="!isAuthenticated()">
                            <a class="nav-item" href="/login">Zaloguj się</a>
                        </li>
                        <li  class="nav-li" sec:authorize="hasAuthority('ROLE_USER')">
                            <a class="nav-item" href="/logout">Wyloguj się</a>
                        </li>
                        <li class="nav-li" >
                            <a class="nav-item" href="/booksList">Lista książek</a>
                        </li>
                        <li class="nav-li" sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <a class="nav-item" href="/addBook">dodaj Książkę</a>
                        </li>
                        <li class="nav-li" sec:authorize="hasAuthority('ROLE_USER')">
                            <a class="nav-item" href="/profile">Twój profil</a>
                        </li>
                        <li class="nav-li" sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <a class="nav-item" href="/adminPanel">Panel admina</a>
                        </li>
                    </ul>
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
<!--        <div class="col">-->
<!--            <div class="sidenav">-->
<!--                <a href="#">Użytkownicy</a>-->
<!--                <a href="#">Komentarze</a>-->
<!--                <a href="#"></a>-->
<!--                <a href="#">Contact</a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="column">
            <p th:text="${user.firstName} + ' ' + ${user.lastName}"></p>
            <p th:text="${user.email}"></p>
            <p th:text="${user.phoneNumber}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col" th:each="book : ${books}">
            <p th:utext="${book.getBook().title}"></p>
            <p th:if="${book.deadlineForReturn.isAfter(#temporals.createNow())} and ${book.returned == false}" th:text="'Termin zwrotu:' + ${#temporals.format(book.deadlineForReturn, 'dd-MM-yyyy')}"></p>
            <p th:if="${book.returned == true}" th:text="'Oddana dnia: ' + ${book.dateOfReturn}" ></p>
            <p th:if="${book.deadlineForReturn.isBefore(#temporals.createNow())} and ${book.returned == false}" th:text="'Książka nie oddana w terminie. Tremin minął:' + ${#temporals.format(book.dateOfReturn, 'dd-MM-yyyy')}"></p>
        </div>
    </div>
</div>
<article>
</article>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }
    const navLink = document.querySelectorAll(".nav-link");

    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
</script>
</body>
</html>