<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <script src= "http://code.jquery.com/jquery-1.9.0.js"> </script>
    <!--&lt;!&ndash;    <script th:src="@{G:/biblioteka/src/main/resources/templates/books/app.js}"></script>&ndash;&gt;-->
    <script src= "http://code.jquery.com/jquery-migrate-1.2.1.js"> </script>
    <!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../../static/Rich-Text-Editor-jQuery-RichText/src/richtext.min.css}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://codepen.io/skjha5993/pen/bXqWpR.css">
    <link rel="stylesheet" th:href="@{../../static/css.css}">
    <script th:src="@{../../static/Rich-Text-Editor-jQuery-RichText/src/jquery.richtext.min.js}"></script>

</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav-menu navbar-nav mr-auto">
            <li class="nav-li nav-link" sec:authorize="!isAuthenticated()">
                <a class="nav-item" href="/register" data-item="Rejestracja">Rejestracja</a>
            </li>
            <li class="nav-li nav-link" sec:authorize="!isAuthenticated()">
                <a class="nav-item" href="/login" data-item="Zaloguj się">Zaloguj się</a>
            </li>
            <li  class="nav-li nav-link" sec:authorize="hasAuthority('ROLE_USER')">
                <a class="nav-item" href="/logout" data-item="Wyloguj się">Wyloguj się</a>
            </li>
            <li class="nav-li nav-link" >
                <a class="nav-item" href="/booksList" data-item="Lista książek">Lista książek</a>
            </li>
            <li class="nav-li nav-link" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="nav-item" href="/addBook" data-item="Dodaj książkę">Dodaj Książkę</a>
            </li>
            <li class="nav-li nav-link" sec:authorize="hasAuthority('ROLE_USER')">
                <a class="nav-item" href="/profile" data-item="Twój profil">Twój profil</a>
            </li>
            <li class="nav-li nav-link" sec:authorize="hasAuthority('ROLE_MOD') and !hasAuthority('ROLE_ADMIN')">
                <a class="nav-item" href="/adminPanel/commentsList">Komentarze</a>
            </li>
            <li class="nav-li nav-link dropdown" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="nav-item dropdown-toggle" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panel admina
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/adminPanel/usersList">Użytkownicy</a>
                    <a class="dropdown-item" href="/adminPanel/commentsList" >Komentarze</a>
                </div>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row jumbotron" th:object="${user}">
        <div class="col-sm-2">
            <a sec:authorize="isAuthenticated()" th:if="${sender == user}" class="btn btn-primary" th:href="@{/messages/{id}(id=${user.id})}">Wiadomości</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Książki wypożyczone</h3>
                    <div th:each="book : ${borrowedBooks}">
                        <div>
                            <a th:href="@{'/book/{id}'(id=${book.book.id})}" th:utext="${book.getBook().title}"></a>
                        </div>
                        <div th:text="${'Termin zwrotu: ' + #temporals.format(book.getDeadlineForReturn(), 'dd-MM-yyyy')}"></div>
                        <br>
                        <form sec:authorize="isAuthenticated()" th:if="${sender == user}" method="post" th:action="@{/returnBook/{id}(id=${book.getBook().id})}">
                            <button class="return btn btn-primary" type="submit">Zwróć</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <h3>Książki oddane</h3>
                    <div th:each="book : ${returnedBooks}">
                        <div>
                            <a th:utext="${book.getBook().title}"></a>
                        </div>
                        <div th:text="${'Data oddania: ' + #temporals.format(book.getDateOfReturn(), 'dd-MM-yyyy')}"></div><br>
                    </div>
                </div>
                <div class="col">
                    <h3>Książki zarezerwowane</h3>
                    <div th:each="book : ${reservedBooks}">
                        <div>
                            <a th:utext="${book.title}"></a>
                            <div th:text="'Miejsce w kolejce: ' + ${book.getPeopleInQueue().indexOf(user) + 1}"></div><br>
                            <form sec:authorize="isAuthenticated()" th:if="${sender == user}" method="post" th:action="@{/deleteReservation/{id}(id=${book.id})}">
                                <button class="return btn btn-primary" type="submit">Usuń</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" sec:authorize="isAuthenticated()" th:if="${message != null}">
            <div class="row pull-left">
                <div class="col">
                    <form class="pull-left" method="post" th:if="${sender != user}" th:action="@{/sendMessage/{id}(id=${user.id})}" th:object="${message}">
                        <div class="form-group message">
                            <label for="message">Wiadomość</label>
                            <textarea class="form-control" id="message" placeholder="Wiadomość" th:field="*{text}"></textarea>
                        </div>
                        <p>
                            <button class="btn btn-primary" type="submit">Wyślij</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    WIADOMOSCI-->


<script>
    $(document).ready(function(){
        $('#message').richText({
            imageUpload:false,
            fileUpload:false,
            videoEmbed:false,
            code:false
        });
    })
</script>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }
    const navLink = document.querySelectorAll(".nav-link");

    navLink.forEach(n => n.addEventListener("click", closeMenu));
    navLink.item(navLink.length - 1).removeEventListener("click", closeMenu);
    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
</script>
</body>
</html>