.Bdc\(red\) {
    border-color: red;
}

.C\(red\) {
    color: red;
}

table {
    text-align: center;
}
.op1{
    width: 40px;
    margin-left: 1rem;
}
.formik{
    margin-top: 5rem;
}

.op{
    width: 40px;
}

a {
    text-decoration: none;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    /*background-color: chocolate;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 9999;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    color: #8f8f8f;
    font-size: 18px;
    /*font-weight: 400;*/
    /*transition: all 0.5s ease-in-out;*/
    position: relative;
    text-transform: uppercase;
}

.booksList{
    margin: 5px;
}
.return{
    margin-top: -50px;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
@media only screen and (min-width: 1131px){
    .dropdown-menu{
        margin-left: 5rem;
    }
}
@media only screen and (max-width: 1131px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
/*#message {*/
/*    max-width: 100%;*/
/*}*/
/*.message{*/
/*    width: 100%;*/
/*}*/
form{
    margin: 15px auto;
    /*margin-left: 15px;*/
    /*margin-right: 47px;*/
}

label {
    font-weight: 600;
    color: #555;
}
.right{
    margin-left: 5px;
}

.button-box{
    display: inline;
    text-align: left;
    margin-top: 20px;
}
.center{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center .stars{
    height: 30px;
    width: 50px;
    text-align: center;
}
.stars input{
    display: none;
}
.stars label{
    float: left;
    font-size: 40px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
}
.stars label:before{
    content: '★';
}
.stars input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
    color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate {
    margin-top: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*@media screen and (max-width: 700px) {*/
/*    .image{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/
/*}*/

#content {
    width: 300px;
    margin: 15px auto;
}

.jumbotron{
    margin-top: 80px;
}


.jumbotron-content {

    width: 100%;
    height: 100%;
}
.image{
    width: 150px;
    height: auto;
}
.search {
    margin: 9vh 9vw;
}


.jumbotron p {
    margin-top: 0;
    color: #555;
    font-size: 1.2em;
}

.pages {
    margin-left: 5px;
}

/*.bookDetails{*/
/*    margin-top: ;*/
/*}*/
body {
    font-family: 'open sans';
    overflow-x: hidden; }

img {
    max-width: 100%; }

.reserveText{
    position: absolute;
}
.description{
    position: relative;
    top: 20px;
}
.bookDetailss{
    margin: 0 15px;
}
.bookDetails-{
    margin-top: -15px;
}
.bookDetailsBorrow{
    margin: -20px 0;
}
.left{
    margin-left: 10px;
    margin-top: 25px;
}
.reserve{
    top: 30px;
    position: relative;
    /*margin-left: 20px;*/
}
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card {
    margin-top: 100px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

/*@media (min-width: 1132px) {*/
/*    .navbar-expand-lg .navbar-nav {*/
/*        -webkit-box-orient: horizontal;*/
/*        -webkit-box-direction: normal;*/
/*        -ms-flex-direction: row;*/
/*        flex-direction: row;*/
/*    }*/
/*}*/
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.product-title, .price {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote{
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.add-to-cart {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }

.add-to-cart:hover{
    background: #b36800;
    color: #fff; }
.content-item {
    padding:30px 0;
    background-color:#FFFFFF;
}

.content-item.grey {
    background-color:#F0F0F0;
    padding:50px 0;
    height:100%;
}

.content-item h2 {
    font-weight:700;
    font-size:35px;
    line-height:45px;
    text-transform:uppercase;
    margin:20px 0;
}

.content-item h3 {
    font-weight:400;
    font-size:20px;
    color:#555555;
    margin:10px 0 15px;
    padding:0;
}

.content-headline {
    height:1px;
    text-align:center;
    margin:20px 0 70px;
}

.content-headline h2 {
    background-color:#FFFFFF;
    display:inline-block;
    margin:-20px auto 0;
    padding:0 20px;
}

.grey .content-headline h2 {
    background-color:#F0F0F0;
}

.content-headline h3 {
    font-size:14px;
    color:#AAAAAA;
    display:block;
}


#comments {
    background-color:#FFFFFF;
}

#comments form {
    margin-bottom:30px;
}

#comments .btn {
    margin-top:7px;
}

#comments form fieldset {
    clear:both;
}

#comments form textarea {
    height:100px;
}

#comments .media {
    border-top:1px dashed #DDDDDD;
    padding:20px 0;
    margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
    max-width:100px;
}

#comments .media h4 {
    margin:0 0 10px;
}

#comments .media h4 span {
    font-size:14px;
    float:right;
    color:#999999;
}

#comments .media p {
    margin-bottom:15px;
    text-align:justify;
}

#comments .media-detail {
    margin:0;
}

#comments .media-detail li {
    color:#AAAAAA;
    font-size:12px;
    padding-right: 10px;
    font-weight:600;
}

#comments .media-detail a:hover {
    text-decoration:underline;
}

#comments .media-detail li:last-child {
    padding-right:0;
}

#comments .media-detail li i {
    color:#666666;
    font-size:15px;
    margin-right:10px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

/*.dropdown-menu{*/
/*    !*margin-left: 5rem;*!*/
/*}*/